---
const title = "uview-plus 组件文档";
const description = "该组件为高性能列表组件。";
const keywords = "uview-plus-free, uview-plus 免费文档, uView Plus, uView-Plus, uView, 免费文档, 离线文档, 组件, 移动端组件, 前端, UI, 组件库, liusheng, liusheng22";
const image = "/assets/logo.png";
const site_name = "uView-Plus-Free 免费组件文档";
const route = "/List";

import Layout from '../layouts/Layout.astro';
---

<Layout 
  title={title} 
  description={description} 
  keywords={keywords}
  image={image}
  site_name={site_name}
  route={route}
>
  <h2>List 列表</h2>
      <p>该组件为高性能列表组件。</p>
      <h3>平台差异说明</h3>
      <div class="table-container">
        <div class="table-row">
          <div class="table-cell">平台</div>
          <div class="table-cell">支持情况</div>
        </div>
        <div class="table-row">
          <div class="table-cell">App（vue）</div>
          <div class="table-cell">√</div>
        </div>
        <div class="table-row">
          <div class="table-cell">App（nvue）</div>
          <div class="table-cell">√</div>
        </div>
        <div class="table-row">
          <div class="table-cell">H5</div>
          <div class="table-cell">√</div>
        </div>
        <div class="table-row">
          <div class="table-cell">小程序</div>
          <div class="table-cell">√</div>
        </div>
      </div>
      <h3>基本使用</h3>
      <p>
        此组件需配合
        <code class="language-html">up-list-item</code> 嵌套使用。参数
        <code class="language-html">show-scrollbar</code>
        用于控制是否出现滚动条，不过仅在
        <code class="language-html">nvue</code> 中有效。事件
        <code class="language-html">@scrolltolower</code> 会在滚动到底部时触发。
      </p>
      <pre
        class="language-html"
      ><code class="language-html" class="language-html">&lt;template&gt;
      &lt;view class="u-page"&gt;
          &lt;up-list
              @scrolltolower="scrolltolower"
          &gt;
              &lt;up-list-item
                  v-for="(item, index) in indexList"
                  :key="index"
              &gt;
                  &lt;up-cell
                      :title="`列表长度-$&#123;index + 1&#125;`"
                  &gt;
                      &lt;template #icon&gt;
                          &lt;up-avatar
                              shape="square"
                              size="35"
                              :src="item.url"
                              customStyle="margin: -3px 5px-3px 0"
                          &gt;&lt;/up-avatar&gt;
                      &lt;/template&gt;
                  &lt;/up-cell&gt;
              &lt;/up-list-item&gt;
          &lt;/up-list&gt;
      &lt;/view&gt;
  &lt;/template&gt;
  
  &lt;script setup&gt;
  import &#123; ref, reactive &#125; from 'vue';
  import &#123; onLoad, onShow &#125; from '@dcloudio/uni-app';  
  
  const indexList = reactive([]);
  const urls = [
    'https://uview-plus.jiangruyi.com/album/1.jpg',
    'https://uview-plus.jiangruyi.com/album/2.jpg',
    'https://uview-plus.jiangruyi.com/album/3.jpg',
    'https://uview-plus.jiangruyi.com/album/4.jpg',
    'https://uview-plus.jiangruyi.com/album/5.jpg',
    'https://uview-plus.jiangruyi.com/album/6.jpg',
    'https://uview-plus.jiangruyi.com/album/7.jpg',
    'https://uview-plus.jiangruyi.com/album/8.jpg',
    'https://uview-plus.jiangruyi.com/album/9.jpg',
    'https://uview-plus.jiangruyi.com/album/10.jpg',
  ];
  
  onLoad(() =&gt; &#123;
    loadmore();
  &#125;);
  
  const scrolltolower = () =&gt; &#123;
    loadmore();
  &#125;;
  
  const loadmore = () =&gt; &#123;
    for (let i = 0; i &lt; 30; i++) &#123;
      indexList.value.push(&#123;
        url: urls[uni.$u.random(0, urls.length-1)],
      &#125;);
    &#125;
  &#125;;
  &lt;/script&gt;</code></pre>
      <p>### 代码解释</p>
      <ul>
        <li>
          在模板部分，借助
          <code class="language-html">up-list</code> 组件构建列表，并且绑定
          <code class="language-html">scrolltolower</code> 事件。
        </li>
        <li>
          运用 <code class="language-html">v-for</code> 指令循环渲染
          <code class="language-html">up-list-item</code>，每个
          <code class="language-html">up-list-item</code> 里包含一个
          <code class="language-html">up-cell</code> 组件。
        </li>
        <li>
          在脚本部分，定义了
          <code class="language-html">indexList</code>
          数组用于存放列表数据，<code class="language-html">urls</code>
          数组用于存放图片链接。
        </li>
        <li>
          <code class="language-html">onLoad</code>
          生命周期钩子函数会在页面加载时调用
          <code class="language-html">loadmore</code> 函数来加载数据。
        </li>
        <li>
          <code class="language-html">scrolltolower</code> 事件触发时会调用
          <code class="language-html">loadmore</code>
          函数，实现滚动加载更多数据的功能。
        </li>
      </ul>

      <h3>API</h3>
      <h4>List Props</h4>
      <div class="table-container">
        <div class="table-row">
          <div class="table-cell">参数</div>
          <div class="table-cell">说明</div>
          <div class="table-cell">类型</div>
          <div class="table-cell">默认值</div>
          <div class="table-cell">可选值</div>
        </div>
        <div class="table-row">
          <div class="table-cell">showScrollbar</div>
          <div class="table-cell">控制是否出现滚动条，仅nvue有效</div>
          <div class="table-cell">Boolean</div>
          <div class="table-cell">false</div>
          <div class="table-cell">true</div>
        </div>
        <div class="table-row">
          <div class="table-cell">lowerThreshold</div>
          <div class="table-cell">距底部多少时触发scrolltolower事件</div>
          <div class="table-cell">String | Number</div>
          <div class="table-cell">50</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">upperThreshold</div>
          <div class="table-cell">
            距顶部多少时触发scrolltoupper事件，非nvue有效
          </div>
          <div class="table-cell">String | Number</div>
          <div class="table-cell">0</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">scrollTop</div>
          <div class="table-cell">设置竖向滚动条位置</div>
          <div class="table-cell">String | Number</div>
          <div class="table-cell">0</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">offsetAccuracy</div>
          <div class="table-cell">控制 onscroll 事件触发的频率，仅nvue有效</div>
          <div class="table-cell">String | Number</div>
          <div class="table-cell">10</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">enableFlex</div>
          <div class="table-cell">
            启用 flexbox 布局。开启后，当前节点声明了display: flex就会成为flex
            container，并作用于其孩子节点，仅微信小程序有效
          </div>
          <div class="table-cell">Boolean</div>
          <div class="table-cell">false</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">pagingEnabled</div>
          <div class="table-cell">是否按分页模式显示List，默认值false</div>
          <div class="table-cell">Boolean</div>
          <div class="table-cell">false</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">scrollable</div>
          <div class="table-cell">是否允许List滚动</div>
          <div class="table-cell">Boolean</div>
          <div class="table-cell">true</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">scrollIntoView</div>
          <div class="table-cell">值应为某子元素id（id不能以数字开头）</div>
          <div class="table-cell">String</div>
          <div class="table-cell">-</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">scrollWithAnimation</div>
          <div class="table-cell">在设置滚动条位置时使用动画过渡</div>
          <div class="table-cell">Boolean</div>
          <div class="table-cell">false</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">enableBackToTop</div>
          <div class="table-cell">
            iOS点击顶部状态栏、安卓双击标题栏时，滚动条返回顶部，只对微信小程序有效
          </div>
          <div class="table-cell">Boolean</div>
          <div class="table-cell">false</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">height</div>
          <div class="table-cell">列表的高度</div>
          <div class="table-cell">String | Number</div>
          <div class="table-cell">0</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">width</div>
          <div class="table-cell">列表宽度</div>
          <div class="table-cell">String | Number</div>
          <div class="table-cell">0</div>
          <div class="table-cell">-</div>
        </div>
        <div class="table-row">
          <div class="table-cell">preLoadScreen</div>
          <div class="table-cell">
            列表前后预渲染的屏数，1代表一个屏幕的高度，1.5代表1个半屏幕高度
          </div>
          <div class="table-cell">String | Number</div>
          <div class="table-cell">1</div>
          <div class="table-cell">-</div>
        </div>
      </div>
      <h4>List Events</h4>
      <div class="table-container">
        <div class="table-row">
          <div class="table-cell">事件名</div>
          <div class="table-cell">说明</div>
          <div class="table-cell">回调参数</div>
        </div>
        <div class="table-row">
          <div class="table-cell">scroll</div>
          <div class="table-cell">滚动条滚动触发事件</div>
          <div class="table-cell">scrollTop: 滚动条位置</div>
        </div>
        <div class="table-row">
          <div class="table-cell">scrolltolower</div>
          <div class="table-cell">滚动到底部触发事件</div>
          <div class="table-cell">-</div>
        </div>
      </div>
      <h4>ListItem Props</h4>
      <div class="table-container">
        <div class="table-row">
          <div class="table-cell">参数</div>
          <div class="table-cell">说明</div>
          <div class="table-cell">类型</div>
          <div class="table-cell">默认值</div>
          <div class="table-cell">可选值</div>
        </div>
        <div class="table-row">
          <div class="table-cell">anchor</div>
          <div class="table-cell">用于滚动到指定item</div>
          <div class="table-cell">String | Number</div>
          <div class="table-cell">-</div>
          <div class="table-cell">-</div>
        </div>
      </div>
</Layout>